@import url('https://fonts.googleapis.com/css?family=Ubuntu');

html, body{
    margin: 0;
    padding: 0;
    font-family: Ubuntu;
}

hr{
    width: 90%;
}

.header {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 1px;
    text-align: center;
}

.header div {
    height: 80px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    font-size: 45px;

    line-height: 1.5em;
}

.nav {
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
}

.nav hr {
    margin-top: 10px;
    width: 50%;
}

.wrapper {
    display: grid;
    background-color: white;
    padding: 30px;
    margin-bottom: 45px;
}

.content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10em;
    grid-auto-rows: 150px;
}

.content button {
    background-color: white;
    border-radius: 10px;
    color: #ffffff;
    font-size: 38px;

    border: 0px solid white;

    background-attachment: scroll;

    cursor: pointer;

    transition: all 0.5s;
}

.content button:hover{
    transform: scale(1.02);
}

/* BUTTONS STYLES */

#bt1 {
    background: -moz-linear-gradient(84deg, #333AFF 0%, #14EBFF 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #14EBFF), color-stop(100%, #333AFF));
    background: -webkit-linear-gradient(84deg, #333AFF 0%, #14EBFF 100%);
    background: -o-linear-gradient(84deg, #333AFF 0%, #14EBFF 100%);
    background: -ms-linear-gradient(84deg, #333AFF 0%, #14EBFF 100%);
    background: linear-gradient(6deg, #333AFF 0%, #14EBFF 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#14EBFF', endColorstr='#333AFF',GradientType=0 );
}

#bt2 {
    background: -moz-linear-gradient(84deg, #333AFF 0%, #14EBFF 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #14EBFF), color-stop(100%, #333AFF));
    background: -webkit-linear-gradient(84deg, #333AFF 0%, #14EBFF 100%);
    background: -o-linear-gradient(84deg, #333AFF 0%, #14EBFF 100%);
    background: -ms-linear-gradient(84deg, #333AFF 0%, #14EBFF 100%);
    background: linear-gradient(6deg, #333AFF 0%, #14EBFF 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#14EBFF', endColorstr='#333AFF',GradientType=0 );
}

#bt3 {
    background: -moz-linear-gradient(84deg, #333AFF 0%, #14EBFF 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #14EBFF), color-stop(100%, #333AFF));
    background: -webkit-linear-gradient(84deg, #333AFF 0%, #14EBFF 100%);
    background: -o-linear-gradient(84deg, #333AFF 0%, #14EBFF 100%);
    background: -ms-linear-gradient(84deg, #333AFF 0%, #14EBFF 100%);
    background: linear-gradient(6deg, #333AFF 0%, #14EBFF 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#14EBFF', endColorstr='#333AFF', GradientType=0);
}

#bt4 {
    background: -moz-linear-gradient(84deg, #333AFF 0%, #14EBFF 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #14EBFF), color-stop(100%, #333AFF));
    background: -webkit-linear-gradient(84deg, #333AFF 0%, #14EBFF 100%);
    background: -o-linear-gradient(84deg, #333AFF 0%, #14EBFF 100%);
    background: -ms-linear-gradient(84deg, #333AFF 0%, #14EBFF 100%);
    background: linear-gradient(6deg, #333AFF 0%, #14EBFF 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#14EBFF', endColorstr='#333AFF',GradientType=0 );
}

/* BUTTONS STYLES */


#inf1 {
    display: grid;
    grid-template-columns: 1fr;
    font-size: 20px;
    padding: 30px;
}

#inf1 article {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border: 0px solid white;
    border-radius: 10px;
    padding: 8px;
}

#inf2 {
    display: grid;
    grid-template-columns: 1fr;
    font-size: 20px;
    padding: 30px;
}

#inf2 article {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border: 0px solid white;
    border-radius: 10px;
    padding: 8px;
}

#inf3 {
    display: grid;
    grid-template-columns: 1fr;
    font-size: 20px;
    padding: 30px;
}

#inf3 article {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border: 0px solid white;
    border-radius: 10px;
    padding: 8px;
}

#inf4 {
    display: grid;
    grid-template-columns: 1fr;
    font-size: 20px;
    padding: 30px;
}

#inf4 article {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border: 0px solid white;
    border-radius: 10px;
    padding: 8px;
}